extends layouts/default.pug

include mixins/box-head.pug

block main 
  //- div(class="box-head")
  //-   h1(class="inner-title") Trang liên hệ
  //-   div(class="inner-desc") Đây là mô tả của trang liên hệ
  +box-head("Trang liên hệ", "Đây là mô tả của trang liên hệ")